*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    min-height: 100vh;
    padding: 1.5rem;
    background: rgb(78,145,226);
    background: linear-gradient(100deg, rgba(78,145,226,1) 35%, rgba(88,227,203,1) 100%);
}